<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/AdminLTE.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/app.min.js"></script>
    <link href="~/Content/smart-adminLTE.css" rel="stylesheet" />
    <link href="~/Content/skin-blue.css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

                @*
            <link href="~/Content/corlate/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/corlate/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/corlate/prettyPhoto.css" rel="stylesheet" />
*@
        <link href="~/Content/corlate/main-smart.css" rel="stylesheet" />
    
    <link href="~/Content/corlate/animate.min.css" rel="stylesheet" />

    <link href="~/Content/corlate/responsive.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Views/Shared/header.cshtml")
    @RenderBody();
    @RenderPage("~/Views/Shared/footer.cshtml")
</body>
</html>
