@{
    ViewBag.Title = "footer";
}
</div>
</div>
<section id="bottom">
    <div class="container wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" >
        
    </div>
</section>
</div><!-- ./wrapper -->
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 <a target="_blank" href="#" title="Find and post free job ads">Lucky Ads</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Home/about">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->
    
    </div>
    