@{
    ViewBag.Title = "about";
}

<div class="content-wrapper">
    <div class="jumbotron">
        <div class="container">
            <h1>About</h1>
            <p>This website is designed and developed by:<br />
            Irfan Yusanif<br />
            BSEF12M533
            </p>
        </div>
    </div>
</div>
