@{
    ViewBag.Title = "Index";
    var companies = ViewBag.companies;
}
<div class="content-wrapper">
    <div class="container">
        <section style="margin:40px auto">
            <div class="row">
                <div class="col-sm-offset-1">
                    <h2 style="padding-bottom:20px;">search companies </h2>
                </div>
            </div>
            <div class="row">
                @{int count1 = 0;}
                @foreach (var com in companies)
                {
                    count1++;
                    <div class="col-sm-6 col-md-3">

                        <a href="../../Company/page?id=@com.Id">
                            <img src="~/Files/cc@(com.Id+".jpg")" width="150" height="150">
                            <h3>@com.name</h3>
                        </a>
                    </div>
                }
                @if (count1 == 0)
                {
                    <p>No company pages found</p>
                }
            </div>

        </section>
        </div>
    </div>
